@{
    ViewBag.Title = "About James Hlavac";
}

<h1>About James</h1>

<body style="min-height: 700px">

<div style="width: 100%; min-height: 400px">
	<img alt="James" height="283" src="/Content/images/james.jpg" width="297" />
    <div style="position: absolute; width: 412px; height: 281px; left: 307px; top: 150px; padding-left: 10px">
            <p style= "overflow: auto; padding-left: 30px; top: ">&nbsp;&nbsp;&nbsp;&nbsp;
		    Greetings, and thanks for visting! I'm James Hlavac (the 'H' is silent), an Information Systems student at the University of North Florida.
            Of course, I love all things technology, but there are some other things you should know about me:
                <ul style=" width: 400px; padding-left: 70px">
                    <li style="padding-bottom: 10px">I just turned 27. I chose to switch careers from sales to technology 3 years ago, and couldn't be happier about that.</li>
                    <li style="padding-bottom: 10px">I love to read books and watch movies, but I'm extremely critical of both. My girlfriend calls me a snob, and she's right! My favorite film of 2013? 'Mud'. Check it out!</li>
                    <li style="padding-bottom: 10px">I play guitar, but nowhere near as much as I did when I was a kid. Some of my best nights have been spent next to a campfire with a guitar in my hand. </li>
                    <li style="padding-bottom: 10px">I'm a craft beer enthusiast. I haven't gotten into brewing yet, but I have visited most of the breweries in NE Florida and North Carolina. My favorite? Founders Brewering Co. in Michigan</li>
            </p>
                </ul>
        </div>
	</div>
</div>
    <h1>What I know...</h1>
    <img alt="James" src="/Content/images/skills.png"/>
    <img alt="James" src="/Content/images/skills2.png" style="padding-left: 10px;"/>
</body>

