@{ViewBag.Title = "Home Page";}

<h1>Welcome to the Ticket Tracker</h1>
<div style="padding-left: 30px">
<p>This web application was built using the .NET MVC model, along with Razor/C#. I am currently searching for an internship during my senior year at UNF. 
</p>
<p>I'm looking for work that will keep me busy, advance my education, and build my resume. Although my experience in the industry is limited, I aim to change that.</p>
<p>Please feel free to contact me at any time.</p>
<p>Email: n00183513@unf.edu</p>
<p>Phone: (904)535-8654</p>
</div>

